---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Research and development" />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"We have been collaborating with SKORDL for the past months and have observed a significant enhancement in our software performance and operational efficiency due to their contributions. The team is professional, responsive, and genuinely invested in the success of our business. We highly recommend SKORDL to any company looking to elevate their technological capabilities."</p>
            <span class="text-lime text-base md:text-xl font-medium">Sohail Khan<br/></span><span class="text-white text-lg font-normal">CTO at Awez Corp</span>
        </div>
    </div>
</div>

</Container>